body {
    margin: 0;
    padding: 0;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
path.text {
    fill: none;
    stroke: none;
}

marker {
  fill: #00f;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 16px sans-serif;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}

svg {
  font-family: "Helvetica Neue", Helvetica;
}
